<?xml version="1.0" encoding="utf-8" ?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ServerUrl>http://localhost:8099/updateservice.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="Auto.dll" size="19456" lastver="1.0.0.0"  />

    <LocalFile path="BBL.dll" size="290816" lastver="1.0.0.0"  />

    <LocalFile path="start.exe" size="2560000" lastver="1.0.0.0" />
  </UpdateFileList>
</Config>